Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DS_Store
/Content/__ExternalActors__
/Content/__ExternalObjects__
/Content/Characters
/Content/LevelPrototyping
/Content/StarterContent
/Content/ThirdPerson
